body {
    background-color: #eee;
}

.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}


/** Profile Card CSS */



.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 80%;
    height: 490px;
    background: rgb(40,0,88);
    background: linear-gradient(145deg, rgba(40,0,88,1) 40%, rgba(77,0,0,1) 99%);
}

.left-container {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #2a4d4f, #000000);
    flex: 1;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:450px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .right-container {
    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);
    flex: 1;
    max-width:70%;
    height:450px;
    padding: 30px 40px;
    margin: 10px;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .gradienttext{
    background-image: linear-gradient(to right, #ee00ff 0%, #fbff00 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
    text-align: center;
  }

  .h1{
    padding-top: 50%;
    font-size: 50px;
  }

  .h2 {

    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;

    background-image: linear-gradient(to right, #ee00ff 0%, #fbff00 100%);
    color: transparent;
    -webkit-background-clip: text;
  }

  .h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
  }

  .h4 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ff4b4b;
  }

  .details{
    color: yellowgreen;
    padding-left: 10px;
  }

  .h4{
    background-color: #282828;
    width: 350px;
    margin: 0 auto;
    padding: 5px 20px;

  }

  .profile_box{
    background-color: #282828;
    border-radius: 10px; !important
  }


/* Add the rest of your CSS here */
